* {
    /* ! full site props */
    box-sizing: border-box;
    color: white;
}
body {
    /* * background */
    height: 100%;
    /* ? color
    background: linear-gradient(
        to right,
        white 0%,
        white 55%,
        rgb(27,27,27) 55%,
        rgb(27,27,27) 100%
    );
    ? color */
    background-color: rgb(27, 27, 27);
}
h2 {
    width: 70%;
    margin-left: 50%; 
    transform: translate(-50%,0);
    text-align: center;
}
p {
    width: 70%;
    margin-left: 50%; 
    transform: translate(-50%,0);
    text-align: center;
}
ul.sidenav li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(27, 27, 27);
    font-family: 'Cutive Mono', monospace;
}
ul.sidenav li a.active {
    background-color: red;
}
ul.sidenav li a:hover:not(.active) {
    background-color: red;
}
ul.sidenav {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: azure;
    position: fixed;
    height: 100%;
    overflow: auto;
}
section.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 100vh;
}
@media screen and (max-width:900px) {
    ul.sidenav {
        height: auto;
        position: relative;
        width: 100%;
    }
    ul.sidenav li a {
        display: block;
        float: left;
        padding: 15px;
    }
    section.content {
        margin-left: 50%;
        transform: translate(-50%,0);
    }
    ul.sidenav li a.active {
        background-color: white;
    }
    ul.sidenav li a:hover:not(.active) {
        background-color: white;
    }
    h2 {
        width: 80vw;
    }
    p {
        width: 80vw;
    }
}
@media screen and (max-width:460px) {
    ul.sidenav li a {
        float: none;
        text-align: center;
        margin-left: 50%;
        transform: translate(-50%,0);
    }
}
@media screen and (max-width:330px) {
    h2 {
        width: 95vw;
    }
    p {
        width: 95vw;
    }
}